/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    height: 100px;
    background-color: white;
    line-height: 100px;
}

body{
    background-color: #F6F8F9;
    font-family: Arial,sans-serif
}

#logo{
    height: 65px;
    vertical-align: middle;
    padding-left: 20px;
}

.title{
    display: inline;
    font-size: 50px;
    vertical-align: middle;
    font-weight: 1000;
}

.main-container{
    max-width: 920px;
    background-color: white;
    height: 655px;
    margin-left: 25%;
    margin-top: 30px;
    border-radius: 1%;    
}

.add-task{
    background-color: #1E90FF;
    text-decoration: none;
    border-radius: 7%;
    display:inline-block;
    width: 90px;
    height: 35px;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-top: 15px;
    margin-left: 35px;
}

.add-section{
    background-color: white;
    text-decoration: none;
    border-radius: 7%;
    display:inline-block;
    width: 120px;
    height: 35px;
    color: #808080;
    text-align: center;
    line-height: 35px;
    border: 1px solid;
    
}

.separator{
    margin: 10px 0;
    border: 1px solid #F6F8F9;
    
}

h3{
    color: black;
    display: inline;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 25px;
    display: inline-block;
}

.check{
    border: 1px solid green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    margin-left: 25px;
}

.editorial{
    background-color: #45ABEA;
    text-decoration: none;
    border-radius: 35%;
    display:inline-block;
    width: 60px;
    height: 32px;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 0.9rem;
}

.q1-goals{
    background-color: #9C72E4;
    text-decoration: none;
    border-radius: 35%;
    display:inline-block;
    width: 65px;
    height: 32px;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 0.9rem;
    margin-top: 15px;
}

.x{
    border: 1px solid #FF0000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    margin-left: 25px;
}

.recruiting{
    background-color: #64C0A9;
    text-decoration: none;
    border-radius: 35%;
    display:inline-block;
    width: 85px;
    height: 32px;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 0.9rem;
    margin-top: 15px;
}

.mobile{
    background-color: #F29E33;
    text-decoration: none;
    border-radius: 35%;
    display:inline-block;
    width: 60px;
    height: 32px;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 0.9rem;
    margin-top: 15px;
}

.website{
    background-color: #D863A1;
    text-decoration: none;
    border-radius: 35%;
    display:inline-block;
    width: 65px;
    height: 32px;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 0.9rem;
    margin-top: 15px;
}

.sales{
    background-color: #B0C926;
    text-decoration: none;
    border-radius: 35%;
    display:inline-block;
    width: 60px;
    height: 32px;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 0.9rem;
    margin-top: 15px;
}

.editorial-orange{
    background-color: #F29E33;
    text-decoration: none;
    border-radius: 35%;
    display:inline-block;
    width: 60px;
    height: 32px;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 0.9rem;
    margin-top: 15px;
}
